@import "../../styles/colors";
@import "../../styles/dimensions";

.BankAccount {
  font-size: 0.938rem;
  color: #4a4a4a;

  .row {
    > div {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
  }

  .ReferenceWrapper {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .Reference {
    background-color: $ico-bank-reference-background-color;
    padding-top: 0.675rem !important;
    padding-bottom: 0.675rem !important;
  }

  .Fees {
    margin-top: 1rem;
    color: #8e9297;
  }

  .bold {
    font-weight: bold;
  }

  .ICO-tooltip {
    color: #fff !important;
    background-color: #8e9297 !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

    &:after {
      border-right-color: #8e9297 !important;
    }
  }

  i {
    cursor: pointer;
    font-size: 1rem;
  }

  .buttonSection {
    margin-top: 1.875rem;

    h3 {
      margin: 0;
      font-size: 1.25rem;
    }

    h4 {
      font-size: 1rem;
      margin-top: 0.625rem;
    }

    p {
      margin: 0.625rem 0;
    }

    .Email {

      .ChangeButton {
        display: inline-block;
        padding: 0.125rem;
        margin-left: 1em;
        font-weight: bold;
        color: $greenNeufund;
        cursor: pointer;
      }
    }
  }
}
