@import "../../styles/colors";
@import "../../styles/dimensions";

.BankAccount {
  font-size: 0.938rem;
  color: #4a4a4a;

  .row {
    > div {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
  }

  .ReferenceWrapper {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .Reference {
    background-color: $ico-bank-reference-background-color;
    padding-top: 0.675rem !important;
    padding-bottom: 0.675rem !important;
  }

  .Fees {
    margin-top: 1rem;
    color: #8e9297;
  }

  .bold {
    font-weight: bold;
  }

  .ICO-tooltip {
    color: #fff !important;
    background-color: #8e9297 !important;
  }

  i {
    cursor: pointer;
    font-size: 1rem;
  }
}
