@import "../../styles/colors";
@import "../../styles/dimensions";

.CurrencySwitcher {
  .Currencies {
    color: $greyAnother;
    margin-top: 0.75rem;

    span {
      cursor: pointer;
    }
  }

  .active {
    color: #000;
  }
}
