@import "../../styles/colors";
@import "../../styles/dimensions";

.UserPaid {

  .Unit {
    font-weight: bold;
    font-size: 1rem;
    color: $ico-top-area-text-darker-color;
  }

  .Number {
    font-weight: bold;
    font-size: 1rem;
    color: $greyAnother;
  }

  .Neu {
    color: $greenNeufund;
  }

  .Big {
    font-size: 1.875rem;
  }

  .row { // this should be done correctly but wait till finishing touch
    padding-top: 0;
    padding-bottom: 0;
  }
}