@import "../../styles/dimensions";

.Header {
  position: relative;
  height: $header-height;
  width: $global-content-width;
  margin-left: $global-margin-left;
  z-index: 2;
}

.Header-logo {
  height: 100%;
}