@import "../styles/colors";

.ContractSign {
  .Contracts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.Contract {
  height: 500px;
  width: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;

  &:hover {
    position: relative;

    &:after {
      background-color: $contracts-signup-hover-color;
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top:0;
      left: 0;
    }

    &:before {
      content: "fullscreen";
      display: block;
      position: absolute;
      top:50%;
      margin-top: -48px;
      text-align: center;

      height: 96px;
      line-height: 96px;
      width: 100%;

      color: $contracts-signup-hover-icon-color;

      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 96px;
      letter-spacing: normal;
      text-transform: none;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      -moz-font-feature-settings: 'liga';
      -moz-osx-font-smoothing: grayscale;
    }

  }
}

.Paper {
  background-image: url('../images/contract_paper.png');
}

.Smart{
  background-image: url('../images/contract_smart.png');
}

.CheckboxWrapper {
  margin-top: 2em;
}

.SignButtonWrapper {
  margin-top: 2em;
  margin-bottom: 2em;
}

.ConfirmOnNano {
  margin-top: 2em;
  margin-bottom: 2em;
}