@import "../styles/colors";

.ContractWrapper {
  height: 200px;
  width: 155px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;

  &:hover {
    position: relative;

    &:after {
      background-color: $contracts-signup-hover-color;
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    &:before {
      content: "fullscreen";
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -24px;
      text-align: center;
      height: 48px;
      line-height: 48px;
      width: 100%;
      color: $contracts-signup-hover-icon-color;
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 48px;
      letter-spacing: normal;
      text-transform: none;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      -moz-font-feature-settings: 'liga';
      -moz-osx-font-smoothing: grayscale;
    }
  }
}

.Contract {
  display: block;
  height: 200px;
  width: 155px;
  max-width: 100%;
}

.ContractEquals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CheckboxWrapper {
  margin-top: 2em;
}

.SignButtonWrapper {
  margin-top: 2em;
  margin-bottom: 2em;
}

.ConfirmOnNano {
  margin-top: 2em;
  margin-bottom: 2em;
}