@import "../styles/dimensions";

.App-content {
  box-sizing: border-box;
  min-height: 100vh;
  width: $global-content-width;
  margin-top: -$header-height;
  margin-left: $global-margin-left;
  padding-top: $header-height;
  padding-bottom: $footer-height;
  z-index: 1;
}