@import "../styles/colors";
@import "../styles/dimensions";

.topArea {
  color: $ico-top-area-text-color;
  font-size: $ico-top-area-font-size;

  .row {
    background-color: $ico-dark-background-color;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .strong {
    font-size: 1rem;
    color: $greenNeufund;
    font-weight: bold;
  }
}

.topAreaTriangle {
  border-bottom: 3.125rem solid RGBA(0, 0, 0, 0);
  border-right: 100vw solid $ico-dark-background-color;
}

.Section {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.SectionTitle {
  border-bottom: 0.125rem solid $greenNeufund;
  font-size: 1.125rem;
}