@import "../styles/colors";

.item {
  text-align: center;
}

.Index-img {
  width: 80%;
  background-color: lightgray;
  height: 5em;
  margin: 2em auto;
}

.Index-button-wrap {
  margin-top:1em;
  margin-bottom: 1em;
  text-align: center;
}