@import "../styles/colors";

.KYC-content {
  display: flex;
}

.KYC-form {
  width: 256px;
  margin-left: 15%;
}

.KYC-dropzone {
  border: solid $link-not-available 1px;
}

.KYC-dropzone-active {
  background-color: $primary-color;
}

.KYC-dropzone-reject {
  background-color: red;
}

.KYC-tooltip {
  color: $link-color !important;
  background-color: $tooltip-light !important;
  box-shadow: 0 3px 7px grey;
  line-height: 160%;
  border-radius: 5px !important;
  &:after {
    border-right-color: $tooltip-light !important;
  }
}

.KYC-tooltip-header {
  font-weight: bold;
}

.KYC-image {
  width: 246px;
  padding-left: 3px;
  padding-top: 3px;
}

.checkbox {
  margin: 1em 0;
}

.submitButton {
  margin-top: 1em;
  margin-bottom: 3em;
}

.investorId {
  width: 100px;
  cursor: pointer;
}

.progressWrapper {
  width: 100%;
  margin: 2em 0;
  text-align: center;
}