@import "../styles/colors";

.KYC-content {
  display: flex;
}

.KYC-form {
  width: 80%;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
}

.checkbox {
  margin: 1em 0;
}

.submitButton {
  margin-top: 1em;
  margin-bottom: 3em;
  align-self:flex-start;
}

.investorId {
  width:100px;
}

.progressWrapper {
  width: 100%;
  margin: 2em 0;
  text-align: center;
}