@import "../../styles/colors";
@import "../../styles/dimensions";
@import "../../styles/global";

.Footer{
  position: fixed;
  bottom: 0;
  height: $footer-height;
  display: flex;
  justify-content: space-between;
  color: $link-not-available;
  background-color: $background;
  z-index: 2;

  div {
    line-height: $footer-height;
  }
}